<agm-map [latitude]="centerCoords.latitude" [longitude]="centerCoords.longitude" [zoom]="15">
  <agm-marker *ngFor="let vehicle of vehicles$ | async"
    [latitude]="vehicle.most_recent_datapoint.location.latitude"
    [longitude]="vehicle.most_recent_datapoint.location.longitude"
    [iconUrl]="iconUri">
    <agm-info-window>
      <ul>
        <li>
          ID: {{ vehicle.id }}
        </li>
        <li>
          Speed: {{ vehicle.most_recent_datapoint.speed }} mph
        </li>
        <li>
          RPM: {{ vehicle.most_recent_datapoint.rpm }}
        </li>
        <li>
          Gas: {{ vehicle.most_recent_datapoint.gas_remaining }} / {{ vehicle.gas_capacity }} gallons
        </li>
      </ul>
    </agm-info-window>
  </agm-marker>
</agm-map>
<mat-expansion-panel
  class="right-side vehicle-panel"
  *ngFor="let vehicle of vehicles$ | async; let i = index"
  [attr.data-index]="i">
  <mat-expansion-panel-header>
    <mat-panel-title>Vehicle {{i}}</mat-panel-title>
    <mat-panel-description>
      {{ vehicle.id }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul>
      <li>
          Speed: {{ vehicle.most_recent_datapoint.speed }} mph
        </li>
        <li>
          RPM: {{ vehicle.most_recent_datapoint.rpm }}
        </li>
        <li>
          Gas: {{ vehicle.most_recent_datapoint.gas_remaining }} / {{ vehicle.gas_capacity }} gallons
        </li>
  </ul>
  <mat-action-row>
    <button mat-button (click)="setCenter(vehicle)">Find</button>
  </mat-action-row>
</mat-expansion-panel>
