<div id="manager-list-component">
  <h4>Manager List</h4>
  <mat-form-field class="manager-search-form">
    <input matInput #searchBox type="text" placeholder="Search by username" (input)="search(searchBox.value)">
    <button mat-button *ngIf="searchBox.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchBox.value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-grid-list cols="2" rowHeight="100px">
    <div *ngFor="let manager of managers$ | async">
      <mat-grid-tile>Username</mat-grid-tile>
      <mat-grid-tile>{{ manager.username }}</mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
